<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.crm.service.mapper.system.DataDictionaryMapper">

    <select id="selectDataDictionaryList" parameterType="com.yz.crm.common.entity.system.SysDataDictionary" resultType="com.yz.crm.common.entity.system.SysDataDictionary">
      SELECT
        id,
        category,
        code,
        interpretation,
        special_1,
        special_2,
        special_3,
        final_Flag,
        remark,
        sequence,
        status,
        isDeleted,
        createdBy,
        createdOn,
        modifiedBy,
        modifiedOn
      FROM sys_data_dictionary
      WHERE isDeleted = 0
        <if test="id != null">
          AND id = #{id}
        </if>
        <if test="category != null">
          AND category LIKE concat('%',#{category},'%')
        </if>
        <if test="code != null">
          AND code LIKE concat('%',#{code},'%')
        </if>
        <if test="interpretation != null">
          AND (
            interpretation LIKE concat('%',#{interpretation},'%')
            or special_1 LIKE concat('%',#{interpretation},'%')
            or special_2 LIKE concat('%',#{interpretation},'%')
            or special_3 LIKE concat('%',#{interpretation},'%')
            )
        </if>
    </select>

    <select id="selectDataDictionaryCount" parameterType="com.yz.crm.common.entity.system.SysDataDictionary" resultType="Integer">
        SELECT count(1)
        FROM sys_data_dictionary
        WHERE isDeleted = 0
        AND category LIKE concat('%',#{category},'%')
        AND code LIKE concat('%',#{code},'%')
    </select>

    <insert id="insertDataDictionary" parameterType="com.yz.crm.common.entity.system.SysDataDictionary">
        INSERT INTO sys_data_dictionary
        (Category, Code, interpretation, Special_1, Special_2, Special_3, Final_Flag, Remark, Sequence, Status, IsDeleted, CreatedBy, CreatedOn, ModifiedBy, ModifiedOn)
        VALUES
        (#{category}, #{code}, #{interpretation}, #{special_1}, #{special_2}, #{special_3}, #{finalFlag}, #{remark}, #{sequence}, #{status}, 0, #{createdBy}, now() , #{createdBy}, now())
    </insert>

    <update id="updateDataDictionaryById" parameterType="com.yz.crm.common.entity.system.SysDataDictionary">
        UPDATE sys_data_dictionary
        SET modifiedBy = #{modifiedBy},
          modifiedOn = now(),
          category = #{category},
          remark = #{remark},
          code = #{code},
          interpretation = #{interpretation}
        WHERE id = #{id}
    </update>

    <update id="deleteDataDictionaryById" parameterType="com.yz.crm.common.entity.system.SysDataDictionary">
        UPDATE sys_data_dictionary
        SET
          isDeleted = 1,
          modifiedBy = #{modifiedBy},
          modifiedOn = now()
        WHERE id = #{id}
    </update>
</mapper>
